<div class="content-container">
  <div class="content-area">
    <table class="table" *ngIf="threads">
      <tr>
        <th>Thread</th>
        <th>User</th>
        <th>Last Post</th>
        <th>Posts</th>
      </tr>
      <tr *ngFor="let thread of threads" [routerLink]="[thread.alias]">
        <td>{{thread.title}}</td>
        <td>{{thread.posts[0].username}}</td>
        <td>{{thread.posts[0].timestamp | date:'medium'}}</td>
        <td>{{thread.posts.length}}</td>
      </tr>
    </table>
  </div>
</div>
