@import url("~/platform.css");

button, label, stack-layout {
    horizontal-align: center;    
}

Page {
  /*originally was white*/  
  background-color: white;
  font-size: 15;
}
TextField {
    /*was 10*/
  padding: 10;
  /*was 13*/
  font-size: 20;
}
/*added to try and fix the image issue*/
image{

    background-color:transparent;
}

button {
    /*originalement il etait 36*/
    font-size: 20;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    /*originalement il etait 20*/
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 
