@import url("~/platform.css");

button, label, stack-layout {
    horizontal-align: center;    
}



Page {
  background-color: white;
  font-size: 15;
}
TextField {
  padding: 10;
  font-size: 13;
}

image{
    background-color: red;
    border: none; 
}

button {
    /*originalement il etait 36*/
    font-size: 20;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    /*originalement il etait 20*/
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 
