<div class="content-container">
  <div class="content-area">
    <div class="row">
      <div class="col-xs-6 offset-xs-3">
        <div class="card">
          <div class="card-header">Page not found</div>
          <div class="card-block">
            <div class="card-text">Oops, you tried to go somewhere that doesn't exist.</div>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-link" (click)="back()">Go back</button>
            <button class="btn btn-sm btn-link">View the Forums</button>
            <button class="btn btn-sm btn-link">View the Blogs</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
